@*<h3>ChangePassword</h3>


<EditForm Model="user" OnValidSubmit="ChangePassword">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label for="password">Password</label>
        <InputText id="password" @bind-Value="request.Password" class="form-control" type="password" />
        <ValidationMessage For="@(() => request.Password)" />
    </div>
    <div class="mb-3">
        <label for="password">Confirm the new password</label>
        <InputText id="password" @bind-Value="request.ConfirmPassword" class="form-control" type="password" />
        <ValidationMessage For="@(() => request.ConfirmPassword)" />
    </div>

    <button type="submit" class="btn btn-primary">Change Password</button>
    @message
</EditForm>
@code {
    ChangePasswordModel request = new ChangePasswordModel();
    string message = string.Empty;

    private async Task ChangePassword()
    {
        var result = await AuthService.ChangePassword(request);
        message = result.Message;
    }
}
*@